:root{
    --color-background: #1A2037 ;
    --color-btn: #2F2E41;
    --color-btn-trasiction: #3950ac;
    --color-secundary: #E6E6E6;
}
header{
    height: 153px;
}

main{
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 150px;
}
.nav{
    background-color: var(--color-secundary);
    justify-content:space-evenly;
    height: 153px;
    margin-bottom: 50px;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    width: 300px;
}
.nav-link{
    display: flex;
    align-items: center;
    color: black;
    font-weight: 800; 
    font-size: large;
}
.nav-button{
    gap: 5px;
    display: flex;
    flex-direction: row;
}
.section{
    display: flex ;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.home{
    display: flex ;
    align-items: center;
    justify-content: center;
    width: fit-content;
    overflow: hidden;
}
.side-image{
    max-height: fit-content;
}
.imagem-side{
    height: 500px;
}
.text-area{
    color: white;
    flex-wrap: wrap;
    width:500px ;
}
.btn-primary{
    display:flex ;
    background-color: var(--color-btn);
    align-items: center;
    justify-content:center ;
    border: black;
    width: 110px;
    height: 50px;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover{
    transition: 1.1s;
    background-color: var(--color-btn-trasiction);
}

.text-home{
    font-size: 36px;
}
.title{
    font-size: 120px
}
.about{
    background-color: var(--color-secundary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
    
}
.about-area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
.title-about{
    color: black;
    font-size: 48px;
}
.text-about{
    color: black;
    font-size: 20px;
}
.imagem-about{
    height: 400px;
}
